---
layout: default
title: Home
---

{% assign tmp = "/" | append: site.baseurl %}
{% if page.url == tmp or page.url == "/" %}
    <article>
        <img src="media/huiwu.jpg" alt="Profile Photo" style="height:200px;border-radius:50%;">
        <h1 class="top-text">About Hui Wu</h1>
        <p>
            I am a computer vision scientist at <a href=https://www.research.ibm.com/ai/>IBM Research AI</a>, 
            currently focused on understanding 
            and developing deep learning algorithms for real-world applications such as 
            <a href=https://www.ibm.com/watson/services/visual-recognition/></a>visual 
            recognition and fashion design. Beyond my work in computer vision, I am also interested 
            in how the research on human intelligence and machine intelligence can learn from each 
            other, and how we can develop beneficial and responsible AI tools to better our future.</p>

        <p>Prior to IBM, I received my PhD in Computer Science from <a href=https://www.uncc.edu/>UNC Charlotte</a>, 
        where I worked with <a href=https://cis.temple.edu/~souvenir/>Dr. Richard Souvenir</a>
       (2011-2015) on the subject of manifold learning based machine learning techniques 
        and their applications in computer vision and medical image analysis. </p>

        <p><b>Contact me:</b> wuhu _at_ us.ibm.com</p>


     </article>
    <div class="divider"></div>
    <article>
        <h1 class="top-text">Updates</h1>
        <ul>
          <li>
              Mar. 2018: Featured in Town & Country magazine article: <a href=https://www.townandcountrymag.com/leisure/arts-and-culture/a15925909/technology-the-future-of-art-good-taste/>A Salute to Fashion Originals</a>
          </li>
          <li>
              Jan. 2018: Teamed up with fashion designers from <a href=http://www.fitnyc.edu/index.php>Fashion Institute of Technology</a> to explore using AI to enhance fashion design process. See <a href=https://www.youtube.com/watch?v=tO94dIKJ6TQ&t=1s>YouTube Pilot Video</a> and <a href=http://wwd.com/business-news/business-features/f-i-t-ibm-and-tommy-hilfiger-get-into-ai-for-fashion-11095819/>article at Women's Wear Daily</a>. 
          </li>
          <li>
              May. 2017: My work on food recognition was delivered to Watson Visual Recognition Cloud API. Read the <a href=https://www.ibm.com/blogs/research/2017/05/training-watson-see-whats-plate/>research blog</a>. 
          </li>
        </ul>
    </article>
    <div class="divider"></div>
    <h1 class="top-text">Selected Projects</h1>
    {% include postlist.html %}
{% else %}
    <h1 class="top-text">Research Projects</h1>
    {% include postlist.html %}
{% endif %}
