---
layout: default
title: Home
---

{% assign tmp = "/" | append: site.baseurl %}
{% if page.url == tmp or page.url == "/" %}
    <article>
        <img src="media/huiwu.jpg" alt="Profile Photo" style="height:200px;border-radius:50%;">
        <h1 class="top-text">About Hui Wu</h1>
        <p>
            I am a computer vision researcher at <a href=https://www.research.ibm.com/ai/>IBM Research AI</a>, working
            with <a href=http://rogerioferis.com/>Rogerio Feris</a> at the computer vision and multimedia department. 
            I enjoy learning and developing machine learning and computer vision algorithms 
            for real-world applications. Beyond my work on computer vision, 
            I like thinking about the types of intelligent tools we can build to augment human 
            capability and creativity. 
</p>

        <p>Prior to joining IBM, I received my PhD in Computer Science from <a href=https://www.uncc.edu/>UNC Charlotte</a>. 
       There I worked with my thesis advisor <a href=https://cis.temple.edu/~souvenir/>Dr. Richard Souvenir</a> (2011-2015) 
       on applying manifold learning based machine learning techniques to computer vision problems, with a focus on echocardiogram 
       video analysis.</p>

        <p><b>Contact me:</b> wuhu AT us.ibm.com</p>


     </article>
    <div class="divider"></div>
    <article>
        <h1 class="top-text">Updates</h1>
        <ul>
          <li>
              <b>Sep. 2018</b>: We are organizing the <a href=https://sites.google.com/view/eccvfashion/>First Workshop on Computer Vision for Fashion, Art and Design</a> at ECCV 2018. 
          </li>
          <li>
              <b>Jan. 2018</b>: Worked with fashion designers from <a href=http://www.fitnyc.edu/index.php>Fashion Institute of Technology</a> to explore using AI to enhance fashion design process. 
              See the <a href=https://www.youtube.com/watch?v=tO94dIKJ6TQ&t=1s>YouTube Video</a> and articles from 
              <a href=http://wwd.com/business-news/business-features/f-i-t-ibm-and-tommy-hilfiger-get-into-ai-for-fashion-11095819/>Women's Wear Daily</a>
            and <a href=https://www.townandcountrymag.com/leisure/arts-and-culture/a15925909/technology-the-future-of-art-good-taste/>Town & Country magazine</a>. 
          </li>
          <li>
              <b>May. 2017</b>: My work on food visual recognition was integrated into 
              <a href=https://www.ibm.com/watson/services/visual-recognition/>Watson Visual Recognition Cloud API</a>.
              Here is the <a href=https://www.ibm.com/blogs/research/2017/05/training-watson-see-whats-plate/>blog post</a>. 
          </li>
        </ul>
    </article>
    <div class="divider"></div>
    <h1 class="top-text">Selected Projects</h1>
    <p>Please also see my Google <a href=https://scholar.google.com/citations?user=1qByqaUAAAAJ&hl=en>academic author page</a>.</p>
    {% include postlist.html %}
{% else %}
    <h1 class="top-text">Selected Research Projects</h1>
    {% include postlist.html %}
{% endif %}
