---
layout: default
title: Home
---

{% assign tmp = "/" | append: site.baseurl %}
{% if page.url == tmp or page.url == "/" %}
    <article>
        <img src="media/huiwu.jpg" alt="Profile Photo" style="height:200px;border-radius:50%;">
        <h1 class="top-text">About Hui Wu</h1>
        <p>
            I am a research scientist at <a href=https://mitibmwatsonailab.mit.edu/>MIT-IBM Watson AI Lab</a>. Prior to that, 
            I worked in the computer vision and multimedia group at <a href=https://www.research.ibm.com/artificial-intelligence/>IBM Research AI</a>,
            My current research interest includes vision and language, neural-symbolic learning, multi-modal dialogs and computer vision for fashion. 
            Prior to joining IBM, I received my PhD in Computer Science from <a href=https://www.uncc.edu/>UNC Charlotte</a>, with a thesis focus on manifold learning based machine learning techniques applied to image set analysis problems.</p>

        <p><b>Contact me:</b> wuhu AT us.ibm.com</p>


     </article>


    <article>
        <h1 class="top-text">Updates</h1>
         <ul>
             <li>
              <b>Mar. 2021</b>: Two papers accepted at CVPR 2021! 
              </li>
              <li>
              <b>Dec. 2020</b>: Paper "NASTransfer: Analyzing Architecture Transferability in Large Scale Neural Architecture Search" accepted at AAAI 2021. 
              </li>
             <li>
              <b>Jun. 2020</b>: We are hosting Fashion IQ challenge at the third workshop on Computer Vision for Fashion, Art and Design 
              at <a href=https://sites.google.com/view/cvcreative2020/>CVPR 2020</a>. Please see the article at <a href=https://www.rsipvision.com/CVPR2020-Thursday/20/>CVPR Daily</a>. 
              </li>
             <li>
              <b>Sep. 2019</b>: <em>Drill-down: Interactive Retrieval of Complex Scenes using Natural Language Queries</em> accepted at NeurIPS 2019.
              </li>
          <li>
              <b>Jul. 2019</b>: We are hosting Fashion IQ challenge at <a href=https://sites.google.com/view/lingir/fashion-iq>ICCV 2019</a>.
          </li>
          <li>
              <b>May. 2019</b>: I am co-chairing the second workshop on Computer Vision for Fashion, Art and Design 
              at <a href=https://sites.google.com/view/cvcreative/>ICCV 2019</a>.
              I am also co-chairing Linguistics Meets Image and Video Retrieval Workshop
              at <a href=https://sites.google.com/view/lingir/>ICCV 2019</a>.
          </li>
            <li><b>Apr. 2019</b>: Our demo on interactive fashion retrieval</em> accepted at CVPR 2019 demo track.</li>
            <li><b>Sep. 2018</b>: <em>Dialog Based Interactive Image Retrieval</em> accepted at NeurIPS 2018</a>.</li>
          <li>
              <b>Sep. 2018</b>: I was co-chairing the first workshop on Computer Vision for Fashion, Art and Design 
              at <a href=https://sites.google.com/view/eccvfashion/>ECCV 2018</a>.
          </li>
          <li>
              <b>Jan. 2018</b>: Worked with fashion designers from Fashion Institute of Technology on exploring computer vision to enhance fashion design process. [<a href=https://www.youtube.com/watch?v=tO94dIKJ6TQ&t=1s>Summary Video</a>]
              [<a href=http://wwd.com/business-news/business-features/f-i-t-ibm-and-tommy-hilfiger-get-into-ai-for-fashion-11095819/>Women's Wear Daily</a>]
            [<a href=https://www.townandcountrymag.com/leisure/arts-and-culture/a15925909/technology-the-future-of-art-good-taste/>Town & Country</a>] 
          </li>
        </ul>
    </article>

    <div class="divider"></div>

    <h1 class="top-text">Selected Projects</h1>

<p></p>

{% include postlist.html %}

{% else %}

    {% include postlist.html %}

{% endif %}
