<nav>
    <a href="{{ site.baseurl }}/">Blog</a>
    {% for pages in site.pages %}
        {% if pages.title != "Home" %}
            <span class="separator">&bull;</span>
            <a href="{{ site.baseurl }}{{ pages.permalink }}">{{ pages.title }}</a>
        {% endif %}
    {% endfor %}
    
    {% if site.scholar %}
        <a href="https://scholar.google.com/citations?user={{ site.scholar }}">Google Scholar</a>
        <span class="separator">&bull;</span>
    {% endif %}
    {% if site.twitter %}
        <a href="https://twitter.com/{{ site.twitter }}">Twitter</a>
        <span class="separator">&bull;</span>
    {% endif %}
    {% if site.linkedin %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin }}">LinkedIn</a>
    {% endif %}
</nav>
# todo: add github
