<div class="topbar", "group">
    <div class="image-box">
        {% if page.cover %}
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}{{ site.cover }}"></a>
        {% elsif site.cover %}
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}{{ site.cover }}"></a>
        {% endif %}
        <container class="text-overlay">
            <h1 class="title">{{ site.greeting }}</h1><br>
            <h1 class="tagline">{{ site.description }}</h1>
        </container>
    </div>
    
    
    <div class="mobile-topbar">
        {% if page.title != "Home" %}
            <h1 class="title">{{ page.title }}</h1><br>
        {% else %}
            <h1 class="title">{{ site.greeting }}</h1><br>
        {% endif %}
    </div>
    
    {% include navbar.html %}
</div>



